.row{
  text-align:center;
  
}

h1{
color:  #d9b3ff;
}

#instructions{
  font-size: 20px;
  font-family:  'Libre Baskerville', serif;
  color:white;
}
#choices{
  display:flex;
  justify-content:space-between;
  margin: 15px;
  margin-bottom: 25px;
    font-family: 'ZCOOL XiaoWei', serif;

}
#userChoice{
  color: white;
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 50px;
}
#computerChoice{
  color: white;
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 50px;
}

#result{
  display: flex;
  flex-direction: column;
}

#winner{
  color: white;
  font-family: 'Charm', cursive;
  font-size: 50px;
}

html{
  background-image: url("https://st4.depositphotos.com/3269129/19906/v/600/depositphotos_199064016-stock-video-low-poly-abstract-background-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: 150%;
}